In [60]:
import pandas as pd
import numpy as np
import openpyxl as excel

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder, StandardScaler

pd.set_option('display.max_columns', None)

In [61]:
df = pd.read_excel("Data Sheet Energy.xlsx")

df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,House_id,Dwelling,Dwelling Grade,Household m2,Size Grade,Bedrooms,Years,Old,Heating Source,Area Code,Occupants,Children,Teenagers,Adults,Elders,Ainc,Adec,Agauge,Fulltimers,Parttimers,Grads,PostGrads,Education Index,Income,Recycling,Energy Class,Thermostats,Water Heater,Smart Plugs,Awareness,Start,End,Days,Kwhs,Kwh/day,Kwh/day/m2,HDD,CDD
1,1,Appartment,0,36,0,1,0 - 5,0,No,11251,1,0,0,1,0,0.9,0.75,1,1,0,1,0,0.944444,"10,001€ - 20,000€",Often or Always,Sometimes,Often or Always,No,Rarely,Rarely,2021-09-09 00:00:00,2022-01-12 00:00:00,125,378,3.024,0.084,227.883,67.071
2,1,Appartment,0,36,0,1,0 - 5,0,No,11251,1,0,0,1,0,0.9,0.75,1,1,0,1,0,0.944444,"10,001€ - 20,000€",Often or Always,Sometimes,Often or Always,No,Rarely,Rarely,2021-06-16 00:00:00,2021-09-09 00:00:00,85,237,2.788235,0.077451,0,610.892
3,2,Appartment,0,95,0.4,2,6 - 15,0.33,No,14122,4,1,1,2,0,3.05,3.4,3.25,2,0,2,1,0.972222,"άνω των 60,0001€",Often or Always,Often or Always,Often or Always,Yes,Rarely,Sometimes,2020-09-11 00:00:00,2021-01-14 00:00:00,125,1440,11.52,0.121263,56.042,114.238
4,2,Appartment,0,95,0.4,2,6 - 15,0.33,No,14122,4,1,1,2,0,3.05,3.4,3.25,2,0,2,1,0.972222,"άνω των 60,0001€",Often or Always,Often or Always,Often or Always,Yes,Rarely,Sometimes,2021-05-14 00:00:00,2021-09-12 00:00:00,121,1150,9.504132,0.100043,0.379,537.675

In [62]:
df.info()

df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 38 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   187 non-null    object
 1   Unnamed: 1   187 non-null    object
 2   Unnamed: 2   187 non-null    object
 3   Unnamed: 3   187 non-null    object
 4   Unnamed: 4   187 non-null    object
 5   Unnamed: 5   184 non-null    object
 6   Unnamed: 6   187 non-null    object
 7   Unnamed: 7   187 non-null    object
 8   Unnamed: 8   187 non-null    object
 9   Unnamed: 9   187 non-null    object
 10  Unnamed: 10  187 non-null    object
 11  Unnamed: 11  187 non-null    object
 12  Unnamed: 12  187 non-null    object
 13  Unnamed: 13  187 non-null    object
 14  Unnamed: 14  187 non-null    object
 15  Unnamed: 15  187 non-null    object
 16  Unnamed: 16  187 non-null    object
 17  Unnamed: 17  187 non-null    object
 18  Unnamed: 18  187 non-null    object
 19  Unnamed: 19  187 non-null    object
 20  Unnamed: 20  187 non-null    object
 21  Unnamed: 21  187 non-null    object
 22  Unnamed: 22  187 non-null    object
 23  Unnamed: 23  187 non-null    object
 24  Unnamed: 24  187 non-null    object
 25  Unnamed: 25  187 non-null    object
 26  Unnamed: 26  187 non-null    object
 27  Unnamed: 27  187 non-null    object
 28  Unnamed: 28  187 non-null    object
 29  Unnamed: 29  187 non-null    object
 30  Unnamed: 30  187 non-null    object
 31  Unnamed: 31  187 non-null    object
 32  Unnamed: 32  187 non-null    object
 33  Unnamed: 33  186 non-null    object
 34  Unnamed: 34  187 non-null    object
 35  Unnamed: 35  187 non-null    object
 36  Unnamed: 36  186 non-null    object
 37  Unnamed: 37  186 non-null    object
dtypes: object(38)
memory usage: 55.6+ KB

Unnamed: 0     0
Unnamed: 1     0
Unnamed: 2     0
Unnamed: 3     0
Unnamed: 4     0
Unnamed: 5     3
Unnamed: 6     0
Unnamed: 7     0
Unnamed: 8     0
Unnamed: 9     0
Unnamed: 10    0
Unnamed: 11    0
Unnamed: 12    0
Unnamed: 13    0
Unnamed: 14    0
Unnamed: 15    0
Unnamed: 16    0
Unnamed: 17    0
Unnamed: 18    0
Unnamed: 19    0
Unnamed: 20    0
Unnamed: 21    0
Unnamed: 22    0
Unnamed: 23    0
Unnamed: 24    0
Unnamed: 25    0
Unnamed: 26    0
Unnamed: 27    0
Unnamed: 28    0
Unnamed: 29    0
Unnamed: 30    0
Unnamed: 31    0
Unnamed: 32    0
Unnamed: 33    1
Unnamed: 34    0
Unnamed: 35    0
Unnamed: 36    1
Unnamed: 37    1
dtype: int64

In [63]:
df.isnull().sum()

num_cols = df.select_dtypes(include=['int64', 'float64']).columns
cat_cols = df.select_dtypes(include=['object']).columns

df[num_cols] = df[num_cols].apply(lambda x: x.fillna(x.median()))
df[cat_cols] = df[cat_cols].apply(lambda x: x.fillna(x.mode()[0]))

In [64]:
num_cols = df.select_dtypes(include=['float64', 'int64']).columns
df[num_cols] = df[num_cols].fillna(df[num_cols].median())

cat_cols = df.select_dtypes(include='object').columns
df[cat_cols] = df[cat_cols].fillna(df[cat_cols].mode().iloc[0])

In [65]:
for col in cat_cols:
    df[col] = df[col].str.strip().str.lower()

In [66]:
for col in num_cols:
    lower = df[col].quantile(0.01)
    upper = df[col].quantile(0.99)
    df[col] = df[col].clip(lower=lower, upper=upper)

In [40]:
df.to_csv("cleaned_energy_dataset.csv", index=False)