In [1]:
# Data manipulation
import pandas as pd
import numpy as np
import openpyxl as excel

# Visualization (optional for checking outliers and distributions)
import matplotlib.pyplot as plt
import seaborn as sns

# Preprocessing
from sklearn.preprocessing import LabelEncoder, StandardScaler

# Display settings
pd.set_option('display.max_columns', None)

In [28]:
df = pd.read_csv("cleaned_household_data.csv")
df

,house_id,dwelling,dwelling_grade,household_m2,size_grade,bedrooms,years,old,heating_source,area_code,occupants,children,teenagers,adults,elders,ainc,adec,agauge,fulltimers,parttimers,grads,postgrads,education_index,income,recycling,energy_class,thermostats,water_heater,smart_plugs,awareness,start,end,days,kwhs,kwh/day,kwh/day/m2,hdd,cdd
0,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
1,0,1,0,0,0,0,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,2,0,3,1,2,0,0,0,0,0,0,0,0,0
2,1,0,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,3,0,0,1,2,1,1,1,1,1,1,1,1
3,1,0,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,3,0,0,1,2,1,1,1,1,1,1,1,1
4,1,0,1,1,1,1,3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,5,0,1,0,2,1,3,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,1,3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,1,2,0,0,1,2,1,1,1,1,1,1,1,1
184,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,3,1,0,2,1,2,1,1,1,1,1,1,1,1
185,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,3,1,0,2,1,2,1,1,1,1,1,1,1,1
186,1,3,1,1,1,1,3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,3,1,0,2,1,3,1,1,1,1,1,1,1,1
187,1,3,1,1,1,1,3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,3,1,0,2,1,3,1,1,1,1,1,1,1,1

In [27]:
col_names = ['house_id', 'dwelling', 'dwelling_grade', 'household_m2', 'size_grade', 'bedrooms',
             'years', 'old', 'heating_source', 'area_code', 'occupants', 'children', 'teenagers',
             'adults', 'elders', 'ainc', 'adec', 'agauge', 'fulltimers', 'parttimers', 'grads',
             'postgrads', 'education_index', 'income', 'recycling', 'energy_class', 'thermostats',
             'water_heater', 'smart_plugs', 'awareness', 'start', 'end', 'days', 'kwhs', 'kwh/day',
             'kwh/day/m2', 'hdd', 'cdd']

df.columns = col_names

df.columns

Index(['house_id', 'dwelling', 'dwelling_grade', 'household_m2', 'size_grade',
       'bedrooms', 'years', 'old', 'heating_source', 'area_code', 'occupants',
       'children', 'teenagers', 'adults', 'elders', 'ainc', 'adec', 'agauge',
       'fulltimers', 'parttimers', 'grads', 'postgrads', 'education_index',
       'income', 'recycling', 'energy_class', 'thermostats', 'water_heater',
       'smart_plugs', 'awareness', 'start', 'end', 'days', 'kwhs', 'kwh/day',
       'kwh/day/m2', 'hdd', 'cdd'],
      dtype='object')

In [29]:
import pandas as pd

df = pd.read_csv("cleaned_household_data.csv", header=0)

df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

print(df.columns.tolist())

df.to_csv("cleaned_household_data.csv", index=False)
print("✅ Cleaned dataset saved as 'cleaned_household_data.csv'")

['house_id', 'dwelling', 'dwelling_grade', 'household_m2', 'size_grade', 'bedrooms', 'years', 'old', 'heating_source', 'area_code', 'occupants', 'children', 'teenagers', 'adults', 'elders', 'ainc', 'adec', 'agauge', 'fulltimers', 'parttimers', 'grads', 'postgrads', 'education_index', 'income', 'recycling', 'energy_class', 'thermostats', 'water_heater', 'smart_plugs', 'awareness', 'start', 'end', 'days', 'kwhs', 'kwh/day', 'kwh/day/m2', 'hdd', 'cdd']
✅ Cleaned dataset saved as 'cleaned_household_data.csv'